@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

.content {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

.informations {
    background-color: blueviolet;
}

.informations .logo {
    max-width: 350px;
    filter: invert(1);
    margin-bottom: 80px;
}

.informations .description {
    width: 49%;
    font-size: 24px;
    color: #ffffff;
    line-height: 30px;
}

.carousel-buttons {
    background-color: red;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.carousel-buttons .botao {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: #ffffff;
}

.carousel-buttons .botao.selecionado {
    background-color: #1d8346;
}

.menu-lateral {
    background-color: aqua;
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-lateral .icon {
    width: 30px;
    filter: invert(1);
    transition: 0.3s ease-in-out;
}

.menu-lateral .icon:hover {
    transform: scale(1.2);
}

